<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Right Tools - Web & Application design </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
                    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

                        <!-- this adds Foundation Icon Fonts!! -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <meta name="description" content="UK based development company helping businesses achieve their goals. Developing solutions for both mobile devices using ios and android as well as responsive web solutions targeting all screen sizes.">
    <meta name="keywords" content="Web,Design,Development,android,iphone,content curation">
    <link rel="icon" type="image/png" href="https://mymechanic.ru/favicon.ico" />
  </head>

  <body>

    <%= yield %>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64102681-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
